/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
}

/* Typography */
h1,
h2,
p {
    color: white;
}

h2 {
    padding: 10px 0;
}

a {
    font-size: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(211, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/* Header */
header a {
    color: red;
    text-decoration: none;
}

header {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

#header-logo {
    width: 300px;
}

span {
    padding: 0 10px;
}

/* Navigation */
nav {
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 40px auto 10px auto;
    padding: 10px 0;
}
nav li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: red;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}

.section-container {
    width: 60%;
    margin: auto;
}

#redirect {
    width: 100%;
    margin-top: 200px;
    text-align: center;
    padding: 0 20px;
}

#redirect h1 {
    font-size: 48px;
}

#redirect p {
    margin: 20px 0;
    font-size: 20px;
}

#redirect a {
    font-style: italic;
    font-weight: 700;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#redirect a:hover {
    color: rgb(211, 0, 0);
}

.section-container.gray {
    background-color: #6e6e6e;
}

/* Home Section */
.gray-section {
    /* height: 400px; */
    background-color: #6e6e6e;
    margin: 0;
}

.gray-section p {
    padding: 10px 0;
}

/* Contact Section and Quote Form */
.form-container {
    background: rgb(31, 31, 31);
    padding: 16px;
    margin: auto;
    width: 70%;
}

label {
    font-size: 20px;
    font-weight: 700;
    color: white;
}
::placeholder {
    color: rgb(212, 212, 212);
    font-size: 16px;
}
input[type=text] {
    background: #6e6e6e;
    color: white;
    width: 100%;
    padding: 15px;
    margin: 10px 0 22px 0;
    display: inline-block;
    border: none;
}

textarea {
    margin: 10px 0 20px 0;
    width: 100%;
}

#submitBtn {
    border: none;
    outline: none;
    background-color: rgb(211, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;    
}

#submitBtn:hover {
    background-color: #555;
}

/* About Section */

/* Footer */
footer {
    text-align: center;
}

footer > p {
    padding: 20px 0;
}


/* Media Queries */
@media screen and (max-width: 640px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #header-contact {
        padding: 20px;
    }

    nav {
        margin-top: 10px;
        width: 60%;
    }

    ul {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        text-align: center;
    }

    ul > li {
        padding: 10px;
    }

    li > a {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }

    #redirect h1 {
        font-size: 36px;
    }

    #myBtn {
        font-size: 16px;
        padding: 5px;
        right: 15px;
        bottom: 10px;
    }
    label {
        font-size: 16px;
    }
    #submitBtn {
        font-size: 16px;
        padding: 8px;
    }
}