/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}

/* Typography */
h1,
h2,
p {
    color: white;
}

/* Header */
header a {
    color: red;
    text-decoration: none;
}

header {
    display: flex;
    width: 80%;
    height: 100px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

#header-logo {
    width: 300px;
}

nav {
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    padding: 10px 0;
}
nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: red;
}

/* Sections */
section {
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}

.section-container {
    width: 60%;
    margin: auto;
}

.section-container.gray {
    background-color: #6e6e6e;
}

/* Home Section */
.gray-section {
    height: 400px;
    background-color: #6e6e6e;
}

.gray-section p {
    padding: 10px 0;
}



/* About Section */

/* Footer */
footer {
    text-align: center;
}