/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 31, 31);
}

/* Typography */
h1,
h2,
h3,
p {
    color: rgb(224, 224, 224);
}

h2 {
    font-size: 24px;
}

.section-heading {
    text-decoration: underline;
}

#quote-heading {
    padding: 0 auto 20px auto;
}


h3,
span {
    font-size: 16px;
    text-align: center;
}

a {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

a:hover {
    color: rgb(158, 0, 0);
}

span {
    display: block;
    margin-top: 10px;
}

span a {
    color: rgb(158, 0, 0);
}

span a:hover {
    color: white;
}


/* Header */
header {
    margin: 0 auto;
}

#header-logo {
    display: block;
    margin: 10px auto 0 auto;
}

.social-container {
    padding-top: 10px;
}
.social-container p {
    text-align: center;
    word-spacing: 5px;
}

#header-quote {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(211, 0, 0);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
  }
  
#myBtn:hover {
    background-color: red;
  }

  /* Navigation */
.nav-container {
    width: 100%;
  }

.nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 20px;
    transition: 0.15s ease-in-out;
  }

.nav-container a {
    text-align: center;
    text-decoration: underline;
}

.hamburger-menu {
    display: none; /*hidden by default on larger screens */
    cursor: pointer;
}

#home-section,
#services-section,
#work-section {
    padding: 15px;
    margin-top: 15px;
    background-color: #333;
    width: 100%;
}

/* Home Section */
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
    width: 80%;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    max-width: 100%;
    z-index: -100;
    opacity: 20%;
}

#home-img {
    width: 80%;
    border-radius: 10px;
}

#home-hero {
    font-size: 20px;
    padding: 10px;
    line-height: 32px;
}

/* Services Section */
#services-section h2,
#work-section h2 {
    text-align: center;
    margin: 5px 0 auto;
}

.services-container,
.customer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px;
}

.services-container {
    column-count: 2;
    border-bottom: 3px solid #727272;
    margin-bottom: 15px;
}

.services-container li,
.customer-container li {
    list-style-type: none;
    color: white;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}

/* Work Section */
.photo-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    padding: 0 4px;
    margin-top: 5px;
}

.photo-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.photo-column img {
    margin-top: 8px;
    width: 100%;
    height: 15%;
}

/* Contact Section and Form */
.form-container {
    background-color: rgb(31, 31, 31);
    padding: 16px;
    margin: 15px auto;
    width: 70%;
}

.form-container h2 {
    text-align: center;
    padding-bottom: 15px;
}

label {
    font-size: 20px;
    font-weight: 700;
    color: white;
}
::placeholder {
    color: rgb(212, 212, 212);
    font-size: 16px;
}

input {
    font-size: 16px;
}

input[type=text] {
    background-color: #6e6e6e;
    color: white;
    width: 100%;
    padding: 20px;
    margin: 10px 0 22px 0;
    display: inline-block;
    border: none;
}

textarea {
    margin: 10px 0 20px 0;
    padding: 12px 20px;
    width: 100%;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    background-color: #f8f8f8;
}

input[type=submit] {
    display: block;
    border: none;
    outline: none;
    background-color: rgb(211, 0, 0);
    color: white;
    cursor: pointer;
    padding: 12px 18px;
    margin: auto;
    border-radius: 10px;
    font-size: 18px;    
}

#submitBtn:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    margin: 0 auto 80px auto;
    padding: 0;
}

/* Media Queries */
@media screen and (min-width: 500px) {
    /* Typography */
    h2 {
        font-size: 24px;
    }

    h3,
    span a {
        font-size: 20px;
    }

    /* Navigation */
    .nav-container {
        margin: auto;
    }
    
    .nav {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin: 20px auto 5px auto;
        padding: 0 40px;
    }

    .nav a {
        padding: 15px;
        font-size: 20px;
    }

    /* Sections */
    .home-section,
    .services-section {
        width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    #home-img {
        width: 40%;
        height: auto;
        margin: 20px auto 20px auto;
        border-radius: 10px;
    }

    #home-hero {
        display: block;
        width: 50%;
        padding-left: 30px;
    }

    .form-container {
        width: 40%;
    }
    .home-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }    
}

@media screen and (min-width: 800px) {
    #about-heading {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    #home-img {
        display: none;
    }

    .photo-column {
        flex: 1;
        max-width: 50%;
    }

    .nav {
        display: none;
    }
    
    .nav a {
        text-align: center;
        font-size: 14px;
    }

    .nav.active {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .hamburger-menu {
        display: block;
        z-index: 2;
        color: white;
    }

    #header-logo {
        width: 70%;
    }

    #home-img {
        width: 70%;
    }

    #home-hero {
        font-size: 16px;
        width: 100%;
    }

    label {
        font-size: 16px;
    }

    .form-container {
        width: 90%;
    }

    .home-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }  
}

@media screen and (max-width: 900px) {
    video {
        display: none;
    }
}