/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}

/* Typography */
h1,
h2 {
    color: black;
}
/* Header */
header {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    /* box-shadow: 0 1px 8px #ddd; */
}

#nav-logo {
    width: 300px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #8f1515;
}

/* Sections */
section {
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
}
/* Home Section */
#home-section {
    background-color: #d6d6d6;
}

#home-section p {
    padding: 10px 0;
}
